h1{
    color: rgb(5, 16, 116);
    font-weight: bold;
}
body{
    background-image: url("eee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p{
    color: rgb(0, 0, 0);
    text-indent:50px;
    font-size: 21px;
    font-weight: bold;
}